/* 链接样式 */
a:link, a:visited {
    text-decoration:  none;
}

a:hover, a:active {
    text-decoration:  underline;
}

/* 文章样式 */
.post_detail .post_title {
    color: #555;
}

.post_detail .post_eof {
    display: block;
    margin: 80px auto 60px;
    width: 8%;
    height: 1px;
    background: #ccc;
    text-align: center;
}

