<!doctype html>
<head>
{% if blog %}
    <title>{{ blog.title }} | Blog detail</title>
{% else %}
    <title>Not Found | Blog detail</title>
{% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
</head>
{% if blog %}
<article class="uk-article">
    <h1 class="uk-article-title">
	    <a href={{ blog.link }}>{{ blog.title }}</a>
	</h1>
	<p>{{ blog.content }}</p>
</article>
{% else %}
  <h1>Not Found</h1>
{% endif %}

{% if previous %}
<a href={{ previous.link }}>{{ previous.title }}</a>&lt;&lt;&lt;
{% endif %}
<a href="/">返回首页</a>
{% if next %}
&gt;&gt;&gt;<a href={{ next.link }}>{{ next.title }}</a>
{% endif %}