<head>
    <title>Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
</head>

{% for blog in blogs %}
<article class="uk-article">
    <h1 class="uk-article-title">
	    <a href={{ blog.link }}>{{ blog.title }}</a>
	</h1>
	<p>{{ blog.content }}</p>
</article>
<hr class="uk-article-divider">
{% endfor %}